*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

body{
    margin: 40px auto;
}

#gridContainer{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.gridBox{
    outline: 1px solid black;
    flex: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.buttonWrapper{
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

button{
    padding: 16px 60px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

button:hover{
    background:rgb(44, 43, 43);
}

.gridBox:hover{
    background-color: black;
}

.clicked{
    background-color:black;
    outline: 1px solid black;
}
